html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* General Styles */

  :root {
    /* padding */
    --pd-small: 8px;
    --pd-medium: 12px;
    --pd-large: 16px;
    --pd-huge: 24px;

    /* color palette */
    --main-bg-color: #10375C;
    --main-text-color: #F4F6FF;
    --main-accent-color: #F3C623;
    --main-action-color: #EB8317;

  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    
  }

  main {
    flex: 1;
    
  }

  .add-book {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }

  /* Header */

  header {

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: var(--pd-huge);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    .search-container {
        grid-column: 2 / 3;
        display: flex;
        gap: var(--pd-medium);
        padding: 0 var(--pd-large);

        input {
            flex: 1;
            height: 36px;
            padding-left: var(--pd-large);
            border-radius: var(--pd-small);
            border: none;
        }

        button {
            border-radius: var(--pd-small);
            color: var(--main-text-color);
            background-color: var(--main-action-color);
            padding: var(--pd-small) var(--pd-large);
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    }


  }

  main {
    background-color: var(--main-text-color);
  }

  footer {
    padding: var(--pd-huge);
  }