html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* General Styles */

  :root {
    /* padding */
    --pd-small: 8px;
    --pd-medium: 12px;
    --pd-large: 16px;
    --pd-huge: 24px;
    --pd-extra: 36px;

    /* color palette */
    --main-bg-color: #10375C;
    --main-text-color: #F4F6FF;
    --main-accent-color: #F3C623;
    --main-action-color: #EB8317;
    
    /* secundary */

    --secundary-action-color: #66bb6a;
    --secundary-action-dark-color: #479673;

    --bg-transparent-white: rgba(255, 255, 255, .6);

  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    
  }

  main {
    flex: 1;
    
  }

  .add-book {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }

  /* Modal */

  .modal-container {

      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
      .modal {
        background-color: var(--main-text-color);
        width: 500px;
        padding: var(--pd-large);

        form {
          display: flex;
          gap: var(--pd-large);
          flex-direction: column;
          align-items: center;

          input {
            max-width: 300px;
          }
        }

      }
  }

  /* Header */

  header {

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: var(--pd-extra);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    .search-container {
        grid-column: 2 / 3;
        display: flex;
        gap: var(--pd-medium);
        padding: 0 var(--pd-large);

        input {
            flex: 1;
            height: 36px;
            padding-left: var(--pd-large);
            border-radius: var(--pd-small);
            border: none;
        }

        button {
            border-radius: var(--pd-small);
            color: var(--main-text-color);
            background-color: var(--main-action-color);
            padding: var(--pd-small) var(--pd-large);
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    }

    h3 {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

  }

  main {
    background-color: var(--main-text-color);
    position: relative;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: var(--pd-large);
        gap: var(--pd-large);

        li {
            list-style: none;
            position: relative;
            border-radius: var(--pd-large);
            width: 100%;
            overflow: hidden;
            height: fit-content;
            

            img {
              
              width: 100%;
              height: 100%;
              border-radius: var(--pd-large);
            }

            i {
              position: absolute;
              top: 25px;
              right: 25px;
              cursor: pointer;
              color: var(--main-text-color);
              padding: var(--pd-small);
              background-color: var(--secundary-action-color);
              border-radius: 50%;
              transition: .5s;
              -webkit-box-shadow: 0px 5px 19px 0px rgba(18,18,18,1);
              -moz-box-shadow: 0px 5px 19px 0px rgba(18,18,18,1);
              box-shadow: 0px 5px 19px 0px rgba(18,18,18,1);
            }

            i:hover {
              color: var(--main-bg-color);
              transform: scale(1.2);
              transition: .5s;

            }

            .round {
              position: absolute;
              top: var(--pd-huge);
              left: var(--pd-huge);
              transition: .5s;

              label {
                background-color: var(--main-text-color);
                border: 1px solid #ccc;
                border-radius: 50%;
                cursor: pointer;
                height: 28px;
                left: 0;
                position: absolute;
                top: 0;
                width: 28px;
  
                
              }

              label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 7px;
                opacity: 0;
                position: absolute;
                top: 8px;
                transform: rotate(-45deg);
                width: 12px;
              }

              input[type="checkbox"] {
                visibility: hidden;
              }

              input[type="checkbox"]:checked + label {
                background-color: var(--secundary-action-color);
                border-color: var(--secundary-action-color);
              }

              input[type="checkbox"]:checked + label:after {
                opacity: 1;
              }
            }

            .round:hover {
              color: var(--main-bg-color);
              transform: scale(1.2);
              transition: .5s;
            }

            .info {

              position: absolute;
              bottom: -20px;
              background-color: var(--bg-transparent-white);
              text-align: center;
              width: 100%;
              padding: var(--pd-large);
              font-weight: bold;
              transition: .5s;
              opacity: 0;
              

            }

        
        }

        li:hover {

          .info {
            opacity: 1;
            bottom: 0px;
          }
        }
    }


    .add-book {

      border: none;
      background-color: var(--secundary-action-color);
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      transition: .5s;
    }

    .add-book:hover {
      transform: translateY(-8px);
      transition: .5s;
      background-color: var(--secundary-action-dark-color);
    }
  }

  footer {
    padding: var(--pd-huge);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pd-large);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    a {
        text-decoration: none;
        color: var(--main-text-color);
    }
  }